:root {
    --main-color: dodgerblue;
    --sub-color: white
}

* {
    font-family: 'Courier New', Courier, monospace;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.letters {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
}

label {
    display: inline-block;
    width: 120px;
    text-align: left;
}

input[type="submit"] {
    display: block;
    margin: auto;
    padding: 0.5rem 1rem;
    background: var(--main-color);
    color: var(--sub-color);
    border: none;
    box-shadow: none;
}

button {
    padding: 0.5rem 1rem;
    background: var(--main-color);
    color: var(--sub-color);
    border: none;
    box-shadow: none;
}

legend {
    color: var(--main-color)
}

fieldset {
    font-weight: bold;
}

input {
    outline: none !important;
}

#user {
    color: var(--main-color);
    font-weight: bold;
}

input[type="checkbox"]:checked {
    accent-color: var(--main-color);
}

#buttons {
    text-align: center;
}

.new_sig_add {
    background: dodgerblue;
    color: white;
    border-radius: 50%;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    text-align: center;
}

.sigs_div {
    text-align: center;
}